<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{{ url_for( 'static', filename='styles.css' ) }}">
    </head>
    <body class="dashboard">
        <div class="container">
            <aside>
                <h2>THE SIDEBAR</h2>
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>
            </aside>
            <section><h1>THE SECTION</h1></section>
        </div>
        
    </body>
    </html>