html, body {
    background-color: #707070;


}
.index{
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    height: 100vh;  /* Full viewport height */

}

.dashboard{
    display: initial;
}


.login-window{
    text-align: center;
    padding: 20px;
    width: 300px;
    background: #d9d9d9;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin: 2px;
}

.container{
    display: flex;
}

aside {
    width: 250px;
    background-color: #d9d9d9;
}

section {
    flex-grow: 1;
    text-align: center;
}