body{
    background-color: #909090;
}

.flex-container{
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;  /* Centers vertically */
    height: 100vh;  /* Full viewport height */
    background-color: transparent;
}

.login-window{
    display: grid;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9;
}